<%- include('../partials/navbar.ejs') %>
  <head>
    <link rel="stylesheet" href="/css/appointments.css" />
  </head>
  <body>
    <div class="appointments_page">
      <div class="grid-container">
        <div class="grid-item">
          <div class="label">Upcoming Appointments</div>
          <div class = "scrollbox">
            <% appointments.forEach(function(appointment) { %>
              <div class="examples">
                <%= appointment.student.name %>-<%= appointment.course %> <%= appointment.date.toISOString().slice(0, 16).replace('T', ' ') %>
              </div>
            <% }); %>
          </div>
        </div>
        <!-- Other content -->
      </div>
    </div>
  </body>
<%- include('../partials/footer.ejs') %>