<%- include('../partials/navbar.ejs') %>
  <head>
    <link rel="stylesheet" href="/css/appointments.css" />
  </head>
  <body>
    <div class="appointments_page">
      <div class="grid-container">
        <div class="grid-item">
          <div class="label">Upcoming Appointments</div>
          <div class = "scrollbox">
            <% appointments.forEach(function(appointment) { %>
              <div class="examples">
                <%= appointment.student.name %>-<%= appointment.courses %> <%= appointment.date.toISOString().slice(0, 16).replace('T', ' ') %>
              </div>
            <% }); %>
          </div>
        </div>
        <div class="grid-item">
          <div class = "buttons">
          <button class = button-text>
            <a class="text" href="/add_appointment">Create Appointment</a>
          </button> 
          <button class = button-text>
            <a class="text" href="/home_page">Edit Appointment</a>
          </button>
          <button class = button-text>
            <a class="text" href="/home_page">Delete Appointment</a>
          </button> 
        </div>
      </div>
    </div>
  </body>
<%- include('../partials/footer.ejs') %>