<%- include('../partials/navbar.ejs') %>
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/students.css" />
  </head>
  <body>
    <div class="students_page">
      <a href="/add_student">
        <button class="addstudent">Add Student</button>
      </a>
      <div class="grid-container">
        <% students.forEach(function(student) { %>
          <div class="grid-item">
            <img class="img" src="/images/student_profile.png" />
            <div class="examples">
              <p>Name: <%= student.name %></p>
              <p>Courses: <%= student.courses %></p>
              <p>Email: <%= student.email %></p>
            </div>
          </div>
        <% }); %>
      </div>
    </div>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
