<%- include('../partials/navbar.ejs')%>
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/profile.css" />
  </head>
  <body>
    <div class="home-page">
      <div class = "profile">
        <div class = "grid-container">
          <div class="grid-item">
            <% if (user.thumbnail) { %>
              <img class="photo" src="<%= user.thumbnail %>" />
            <% } else { %>
              <img class="photo" src="/images/profile.jpg" />
            <% } %>
            <!-- Upload Photo form here, if applicable -->
          </div>
          <div class="grid-item">
            <p>Name: <%= user.firstName %> <%= user.lastName %></p>
            <!-- Add courses tutoring if applicable -->
            <p>Email: <%= user.email %></p>
            <!-- Bio form here, if applicable -->
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
<%- include('../partials/footer.ejs')%>
